<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.imrozquazi.cover_flow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CSE_EVENTS_MAIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Floatingmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Popup_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Homescreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intro_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bottom_NavBar"
            android:label="@string/title_activity_bottom__nav_bar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MECH_EVENTS_MAIN" />
        <activity android:name=".IT_EVENTS_MAIN" />
        <activity android:name=".ECT_EVENTS_MAIN"></activity>
    </application>

</manifest>